#!/usr/bin/env bash

source_up_if_exists
dotenv_if_exists

# # https://unix.stackexchange.com/questions/575481/how-can-i-find-the-ancestor-directory-with-a-given-name
pwd="$PWD" && export WS_DIR="${pwd%git"${pwd#*git}"}"
if [[ ! $WS_DIR =~ ws ]]; then
    WS_DIR="$(find . -maxdepth 1 -name "ws*" -exec realpath {} \; | sort | head -n 1)"
fi

# from https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md
layout go
layout node
# Only create a python venv is python is locally installed with asdf cmd direnv set _python _version_
if [[ -r .tool-versions ]] && grep "^python" .tool-versions; then
    layout uv
fi
